<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WallTouchBD Automation">
    <test verbose="2" preserve-order="true" name="Smoke Test">
        <classes>
            <class name="com.walltouchbd.test_cases.LoginTest">
                <methods>
                    <include name="verifyLoginAndSearchItem"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>